<app-title [title]='title'></app-title>

<div class="d-flex">
  <form class="form-inline mr-auto">
    <div class="form-group mb-2">
      <input type="text" class="form-control mr-2" placeholder="" />
      <button class="btn btn-outline-success">buscar</button>
    </div>
  </form>
  <div>
    <button class="btn btn-outline-primary" (click)="newTodo(modalTemplateTodo)">
      <i class="fa fa-plus-circle"></i>
      New Todo
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Todo</th>
      <th>Is Complete</th>
      <th>Due Date</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="Todos && Todos.length">
    <tr *ngFor="let todo of Todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.name }}</td>
      <td>{{ todo.isComplete }}</td>
      <td>{{ todo.dueDate }}</td>
      <td>
        <div class="btn-grpup">
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editTodo(todo, modalTemplateTodo)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="deleteTodo(todo, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!Todos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>No todos to do!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div
  bsModal
  #modalTemplateTodo="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Large modal
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="modalTemplateTodo.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('name').errors && registerForm.get('name').touched
                }"
                formControlName="name"
                placeholder="Insert to do"
              />
              <div
                *ngIf="
                  registerForm.get('name').hasError('required') &&
                  registerForm.get('name').touched
                "
                class="invalid-feedback"
              >
                Name required
              </div>
              <div
                *ngIf="
                  registerForm.get('name').hasError('minlength') &&
                  registerForm.get('name').touched
                "
                class="invalid-feedback"
              >
                Name has to be at least 4 characters
              </div>
              <div
                *ngIf="
                  registerForm.get('name').hasError('maxlength') &&
                  registerForm.get('name').touched
                "
                class="invalid-feedback"
              >
                Name has to be less than 50 characters
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Is Complete</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('isComplete').errors &&
                    registerForm.get('isComplete').touched
                }"
                formControlName="isComplete"
                placeholder="Inform if it's complete"
              />
              <div
                *ngIf="
                  registerForm.get('isComplete').hasError('required') &&
                  registerForm.get('isComplete').touched
                "
                class="invalid-feedback"
              >
                Is complete required
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Due Date</label>
              <input
                type="text"
                class="form-control"
                bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:mm a' }"
                [ngClass]="{
                  'is-invalid':
                    registerForm.get('dueDate').errors &&
                    registerForm.get('dueDate').touched
                }"
                formControlName="dueDate"
                placeholder="Insert date"
              />
              <div
                *ngIf="
                  registerForm.get('dueDate').hasError('required') &&
                  registerForm.get('dueDate').touched
                "
                class="invalid-feedback"
              >
                Due date required
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="modalTemplateTodo.hide()">
          Fechar
        </button>
        <button
          class="btn btn-primary ml-auto"
          [disabled]="!registerForm.valid"
          (click)="saveTodo(modalTemplateTodo)"
        >
          Salvar Alterações
        </button>
      </div>
    
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeleteTodo}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CENCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmDelete(confirm)">
          			DELETAR
        		</button>
    		</div>
  		</div>
	</div>
</div>

<br />
<br />

<p>Form value: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>
